<h2>{{event.name}}</h2>
<h2>Add Guest</h2>
<form role="form">
    <div class="form-group">
        <label for="name">name</label>
        <input type="text"  id="name" class="form-control" data-ng-model="guest.name" required />
    </div>
    <div class="form-group">
        <label for="contribution">contribution</label>
        <input type="text" id="contribution" class="form-control" data-ng-model="guest.contribution" required />
    </div>
    <div class="form-group">
        <label for="comment">comment</label>
        <input type="text" id="comment" class="form-control" data-ng-model="guest.comment" required />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" data-ng-click="update()"/>Save</button>
    </div>
</form>