
<nav>
	&larr; <a href="#/">Events</a>
</nav>
<div class="row">
<div class="col-xs-6"><h2>{{event.name}}
	<a class ="button edit" href="#/events/{{event.id}}/edit">
	<span class="glyphicon glyphicon-pencil"></span></a></h2></div>
<div class="col-xs-6"><h2>{{filteredGuests.length}}
	<span ng-if="filteredGuests.length > 1">Guests</span>
	<span ng-if="filteredGuests.length <= 1">Guest</span>
</h2></div>
</div>

	<p>{{event.description}}</p>
	<p data-ng-if="event.maximalAmoutOfGuests">
		<i>Maximal amount of guests:</i>
		{{event.maximalAmoutOfGuests}}

	</p>

	<h3 data-ng-if="event.targetGroup">Target group</h3>
	<p data-ng-if="event.targetGroup">{{event.targetGroup}}</p>

	<h3 data-ng-if="event.contributionsDescription">Event contribution description</h3>
	<p data-ng-if="event.contributionsDescription">{{event.contributionsDescription}}</p>

	<h3>Location</h3>
		<p>
			<i>{{event.location.name}}</i><br />
			{{event.location.street}}<br />
			{{event.location.plz}} {{event.location.city}}
		</p>

		<h3>Date &amp; time</h3>
		<p>{{event.begin | date:"dd.MM.yy HH:mm"}} - {{event.end | date:"dd.MM.yy HH:mm"}}</p>

		<h3>Guests<a class="button add" href="#/events/{{event.id}}/new">&#10133;</a></h3>
		<div data-ng-if="event.guests && event.guests.length > 0" ng-repeat="guest in filteredGuests = (event.guests |filter:{canceled:'false'})">
			<p>{{guest.name}}<span><a class ="button edit" href="#/events/{{event.id}}/guests/{{guest.id}}/edit">
			<span class="glyphicon glyphicon-pencil"></span></a>
			</span><a data-ng-click="cancel(guest)"> <span class="glyphicon glyphicon-remove-sign"></span></a>
			</p>
			<p><b>Contribution:</b> {{guest.contribution}}</p>
			<p><b>Comment:</b> {{guest.comment}}</p>
			<p>{{guest.canceled}}</p>

		</div>

