
<nav>
	&larr; <a href="#/">Events</a>
</nav>

<h2>{{event.name}}</h2><a class ="button edit" href="#/events/{{event.id}}/edit">Edit</a>


	<p>{{event.description}}</p>
	<p data-ng-if="event.maximalAmoutOfGuests">
		<i>Maximal amount of guests:</i>
		{{event.maximalAmoutOfGuests}}

	</p>

	<h3 data-ng-if="event.targetGroup">Target group</h3>
	<p data-ng-if="event.targetGroup">{{event.targetGroup}}</p>

	<h3 data-ng-if="event.contributionsDescription">Event contribution description</h3>
	<p data-ng-if="event.contributionsDescription">{{event.contributionsDescription}}</p>

	<h3>Location</h3>
		<p>
			<i>{{event.location.name}}</i><br />
			{{event.location.street}}<br />
			{{event.location.plz}} {{event.location.city}}
		</p>

		<h3>Date &amp; time</h3>
		<p>{{event.begin | date:"dd.MM.yy HH:mm"}} - {{event.end | date:"dd.MM.yy HH:mm"}}</p>

		<h3>Guests<a class="button add" href="#/events/{{event.id}}/new">&#10133;</a></h3>
		<div data-ng-if="event.guests && event.guests.length > 0" ng-repeat="guest in event.guests">
			<div data-ng-if="guest.canceled == false">
			<p><b>Name:</b> {{guest.name}}</p>
			<p><b>Contribution:</b> {{guest.contribution}}</p>
			<p><b>Comment:</b> {{guest.comment}}</p>
			<p>{{guest.canceled}}</p>
			<p><a class ="button edit" href="#/events/{{event.id}}/guests/{{guest.id}}/edit"><span class="glyphicon glyphicon-pencil"></span></a></p>
			<a data-ng-click="cancel(guest)"> <span class="glyphicon glyphicon-remove-sign"></span></a>
			</div>
		</div>

