<nav>
	&larr; <a href="#/">Events</a>
</nav>
<h2>Edit Event</h2>
<form role="form">
	<div class="form-group">
		<label for="name">name</label>
		<input type="text" class="form-control" id="name" data-ng-model="event.name" required />
	</div>

	<div class="form-group">
		<label for="description">Description</label>
		<input type="text" class="form-control" id="description" data-ng-model="event.description" required />
	</div>

	<div class="form-group">
		<label for="amount">Maximal amount of guests</label>
		<input type="number" class="form-control" id="amount" data-ng-model="event.maximalAmountOfGuests" />
	</div>

	<div class="form-group">
		<label for="group">Target group</label>
		<input type="text" class="form-control" id="group" data-ng-model="event.targetGroup" />
	</div>

	<div class="form-group">
		<label for="contribution">Event contribution description</label>
		<input type="text" class="form-control" id="contribution" data-ng-model="event.contributionsDescription" />
	</div>

	<div class="form-group ">
		<label>Location</label>
		<div class="row">
		<div class="col-md-3">
		<input type="text" class="form-control" data-ng-model="event.location.name" placeholder="Name" required />
		</div>
		<div class="col-md-3">
		<input type="text" class="col-md-3 form-control" data-ng-model="event.location.street" placeholder="Street" required />
		</div>
		<div class="col-md-3">
		<input type="text" class="col-md-3 form-control" data-ng-model="event.location.plz" placeholder="ZIP Code" required/>
		</div>
		<div class="col-md-3">
		<input type="text" class="col-md-3 form-control" data-ng-model="event.location.city" placeholder="City" required/>
		</div>
		</div>
	</div>

	<div class="formline">
		<label>Date &amp; Times</label>
		<div class="formline inline col-6-2-2">
			<input type="date" data-ng-model="event.times.begin" placeholder="begin, e.g. 1990-12-30" required />

			<select class="hours" data-ng-model="event.times.begin.time.hours"
			 	data-ng-init="event.times.begin.time.hours = hours[12]"
				data-ng-options="hour for hour in hours"></select>
			<select class="minutes" data-ng-model="event.times.begin.time.minutes"
			 	data-ng-init="event.times.begin.time.minutes = minutes[0]"
				data-ng-options="minute for minute in minutes"></select>
		</div>
		<div class="formline inline col-6-2-2">
			<input  data-ng-model="event.times.end" placeholder="end, e.g. 1990-12-31"  type="date" required />

			<select class="hours" data-ng-model="event.times.end.time.hours"
			 	data-ng-init="event.times.end.time.hours = hours[13]"
				data-ng-options="hour for hour in hours"></select>
			<select class="minutes" data-ng-model="event.times.end.time.minutes"
			 	data-ng-init="event.times.end.time.minutes = minutes[0]"
				data-ng-options="minute for minute in minutes"></select>
		</div>
	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-primary" data-ng-click="update()"/>Save</button>
	</div>
</form>
